* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', cursive;
    outline: 0;
}

body {
    background-color: #A289D9;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-container img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 400px;
    align-items: center;
    justify-items: center;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

.conteiner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.container img {
    padding-top: 100px;
    max-width: 550px;
    max-height: 550px;
    width: auto;
    height: auto;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-background {
    background: linear-gradient(90deg, #A289D9 0%, #CCC2F2.52%, #7E60BF 100%);
    width: 1200px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px white;
    margin: 25px;
}

#text-1 {
    color: white;
    background: #2F0459;
    width: 100%;
    height: 244px;
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
    margin: 5px;
}

#text-1 h2 {
    margin-bottom: 10px;
}

#text-2 {
    color: white;
    background: #2F0459;
    width: 100%;
    height: 244px;
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
}